
body{
    padding-top: 30px;
    background-color: #ffc9ca;
}

h1{
    text-align: center;
}

article{
    width: 400px;
    height: 1500px;
    border: 1px solid #8c1111;
    border-radius: 12px;
    margin:0 auto;
    background-color: #d0f9f1;
    color: #c88787;
}

.div1{
    display: flex;
    margin:0 auto;
    height: 180px;
}

.div1-1{
    display: block;
    width: 130px;
    padding: 30px;
}

.div1-1 p{
    font-size: 10px;
}

.div1-2{
    padding-top: 8px;
}

.div1-2 ul{
    font-size: 13px;
    line-height: 20px;
    padding-left: 28px;
}

.img1{
    width: 110px;
    border-radius: 12px;
    cursor: pointer;
    padding-left: 5px;
}

.img1:hover{

}

.div2 p,.div3 p,.div4 p{
    font-size: 14px;
    padding-left: 13px;
}

.div2{
    padding: 20px;
    height: 45px;
}

.div3{
    padding: 20px;
    height: 70px;
}

.div4{
    padding: 20px;
}

.div4{
    padding: 20px;
    height: 160px;
}

.div5{
    padding: 20px;
}